<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>股票估值页</title>


    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


    <script type="text/javascript" src="../static/jQueryAssets/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../static/jQueryAssets/jquery.form.js"></script>
    {#    <script type="text/javascript" src="../static/bootstrap-3.4.1/js/bootstrap.min.js"></script>#}
    {#    <link rel="'stylesheet" href="../static/bootstrap-3.4.1/css/bootstrap.min.css"/>#}


    <script type="text/javascript">
        $(document).ready( function () {



            $.get("../../get_data/", function (result) {

                var content = '';
                var table = $("#tb_idx_1");

                //删除原有表格数据
                table.find("tr").each(function (i) {
                    if (i != 0) {
                        //表头不删
                        this.remove();
                    }
                });


                var data = result.data;
                for (var i = 0; i < data.length; i++) {
                    //数据行
                    var tr = $("<tr>", {
                        align: "center",
                        height: "36"
                    });
                    //数据列
                    $.each(data[i], function (key, value) {
                        var td = $("<td>" + value + "</td>");
                        td.appendTo(tr);
                    });
                    tr.appendTo(table);
                }
            });

        });

        function doSubmitForm() {
            $("#form_submit1").ajaxSubmit(function (data) {
                alert(data);
            })
        }
    </script>

	<style type="text/css">
			/*表格样式*/
			table {
				width: 90%;
				background: #ccc;
				margin: 10px auto;
				border-collapse: collapse;/*border-collapse:collapse合并内外边距(去除表格单元格默认的2个像素内外边距*/
			}
			th,td {
				height: 25px;
				line-height: 25px;
				text-align: center;
				border: 1px solid #ccc;
			}
			th {
				background: #eee;
				font-weight: normal;
			}
			tr {
				background: #fff;
			}
			tr:hover {
				background: #00b0cc;
			}
			td a {
				color: #06f;
				text-decoration: none;
			}
			td a:hover {
				color: #06f;
				text-decoration: underline;
			}
		</style>



</head>

<body style="padding-top: 70px">

<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light"> 
	<a class="navbar-brand" href="/">mtools</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation"> <span class="navbar-toggler-icon"></span> </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent1">

	  <a class="mr-sm-2 align-content-end ml-auto" href="/accounts">登录</a>
  </div>
</nav>
	
	
<div class="list-container" id="list-container">
    <table width="800" border="1" id="tb_idx_1">
        <thead>
        <tr>
            <th scope="col">代码</th>
            <th scope="col">名称</th>
            <th scope="col">理想买点</th>
            <th scope="col">次级低估</th>
            <th scope="col">建仓低估</th>
            <th scope="col">合理估值</th>
            <th scope="col">高估</th>
            <th scope="col">次级高估</th>
            <th scope="col">清仓高估</th>
            <th scope="col">当前价格</th>
            <th scope="col">修改日期</th>
        </tr>
        </thead>
        <tbody id="tbody1">
        </tbody>

    </table>
</div>



</body>
</html>
