<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>无标题文档</title>
    <link rel="stylesheet" href="../static/css/bootstrap-4.4.1.css"/>
    <script type="text/javascript" src="../static/jQueryAssets/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" src="../static/jQueryAssets/jquery.form.js"></script>

    <script type="text/javascript">
        function btn1_click() {

            $.get("../get_data/", function (result) {
                var content = '';
                var table = $("#tb-stck-prcs");

                //删除原有表格数据
                table.find("tr").each(function (i) {
                    if (i != 0) {
                        //表头不删
                        this.remove();
                    }
                });


                var data = result.data;
                for (var i = 0; i < data.length; i++) {
                    //数据行
                    var tr = $("<tr>", {
                        align: "center",
                        height: "36"
                    });
                    //数据列
                    $.each(data[i], function (key, value) {
                        var td = $("<td>" + value + "</td>");
                        td.appendTo(tr);
                        {#if (key == "column_4") {#}
                        {#    //这一列的数据，要指定样式#}
                        {#    td.attr("class", "td2");#}
                        {# }#}
                    });
                    tr.appendTo(table);
                }


                {#for (var i = 0; i < result.data.length; i++) {#}
                {#content += '        <tr>' +#}
                {#    '            <td scope="col">' + result.data[i]["code"] + '</th>' +#}
                {#    '            <td scope="col">' + result.data[i]["name"] + '</th>' +#}
                {#    '            <td scope="col">' + result.data[i]["vi2"] + '</th>' +#}
                {#    '            <td scope="col">' + result.data[i]["vi1"] + '</th>' +#}
                {#    '            <td scope="col">' + result.data[i]["v0"] + '</th>' +#}
                {#    '            <td scope="col">' + result.data[i]["vh1"] + '</th>' +#}
                {#    '            <td scope="col">' + result.data[i]["vh2"] + '</th>' +#}
                {#    '            <td scope="col">' + result.data[i]["vcur"] + '</th>' +#}
                {#    '        </tr>';#}
                {# } #}
                {#document.getElementById("tbody1").innerHTML = content;#}


                {#alter(result);#}
                {#$("#test1").html(result);#}
            });

//            let tr_ = '<tr>\n';
//            let elements = ["洋河", 126, 143, 174, 226, 348, 202];
//            for (const element of elements) {
//                tr_ += '<td class="cgrade">' + element + '</td>\n'
//            }
//            tr_ += "</tr>\n";


//  document.getElementById("list-container").append(tr_);
//            document.getElementById("tbody1").innerHTML += tr_;
        }

        function doSubmitForm() {
            $("#form_submit1").ajaxSubmit(function (data) {
                alert(data);
            })
        }py


    </script>
</head>

<body>
<div class="container" id="ctn_input">
    <div class="row">
        <form action="../create_data/" method="post" accept-charset="utf-8" enctype="application/json"
              id="form_submit1">
            <!--        <form id="form_submit1" > -->
            {% csrf_token %}
            <div class="form-inline">
                <label for="Code">Code</label>
                <input type="number" class="form-control" id="Code" name="Code" placeholder="Code">

            </div>
            <div class="form-inline">
                <label for="name">名称</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="名称">

            </div>
            <div class="form-inline">
                <label for="vi2">理想卖点</label>
                <input type="number" class="form-control" id="vi2" name="vi2" placeholder="理想卖点">

            </div>
            <div class="form-inline">
                <label for="vi1">次级理想买点</label>
                <input type="number" class="form-control" id="vi1" name="vi1" placeholder="次级理想买点">

            </div>
            <div class="form-inline">
                <label for="v0">合理估值</label>
                <input type="number" class="form-control" id="v0" name="v0" placeholder="合理估值">

            </div>
            <div class="form-inline">
                <label for="vh1">保守高估</label>
                <input type="number" class="form-control" id="vh1" name="vh1" placeholder="保守高估">

            </div>
            <div class="form-inline">
                <label for="vh2">高估</label>
                <input type="number" class="form-control" id="vh2" name="vh2" placeholder="高估">

            </div>
            <div class="form-inline">
                <label for="vcur">当前价格</label>
                <input type="number" class="form-control" id="vcur" name="vcur" placeholder="当前价格">

            </div>
            <button type="button" class="btn btn-primary" id="btn_tj" onClick="doSubmitForm()">提交</button>
        </form>
    </div>
</div>
<button id="btn1" onClick="btn1_click()">获取数据</button>
<div class="list-container" id="list-container">
    <table width="800" border="1"  id="tb-stck-prcs">
        <thead>
        <tr>
            <th scope="col">代码</th>
            <th scope="col">名称</th>
            <th scope="col">理想卖点</th>
            <th scope="col">次级理想买点</th>
            <th scope="col">合理估值</th>
            <th scope="col">保守高估</th>
            <th scope="col">高估</th>
            <th scope="col">当前价格</th>
            <th scope="col">修改日期</th>
        </tr>
        </thead>
        <tbody id="tbody1">
        </tbody>

    </table>
</div>

<div id="test1"></div>

</body>
</html>
